{% requireAdmin false %}

{% extends "_layouts/cp" %}
{% set title = "Generated Images"|t('app') %}

{% set readOnly = not craft.app.config.general.allowAdminChanges %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}


{% set crumbs = [
    { label: "Generated Images"|t('app'), url: cpUrl('image-generator') }
] %}

{% block actionButton %}
    <form method="post">
        {{ actionInput('image-generator/image/bulk-regenerate') }}
        {{ csrfInput() }}
        {{ redirectInput(craft.app.request.absoluteUrl) }}
        <input type="hidden" name="typeId" value="{{ currentTypeId }}">
        <button type="submit" class="btn submit">
            <span data-icon="refresh" class=""></span>
            {{ "Regenerate"|t('image-generator') }}
        </button>
    </form>
{% endblock %}


{% block sidebar %}
    <nav aria-label="Utilities">
        <ul>
            <li>
                <a class="has-badge {{ null == currentTypeId ? 'sel' }}" href="{{ cpUrl("image-generator/images") }}">
                    <span class="label">All</span>
                </a>
            </li>
            {% for type in types %}
                <li>
                    <a class="has-badge {{ type.id == currentTypeId ? 'sel' }}" href="{{ cpUrl("image-generator/images/#{type.handle}") }}">
                        <span class="label">{{ type.name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}


{% block content %}
    <div id="types-admin-table"></div>
    <script>
        var tableDataEndpoint = "{{ actionUrl("image-generator/image/table-data") }}";
        var deleteAction = "{{ actionUrl('image-generator/image/delete') }}";
        var type = "{{ currentTypeId }}";
    </script>
{% endblock %}

{% js %}

const columns = [
    { name: 'id', title: "id" },
    {
        name: 'asset',
        title: "Asset",
        callback: (value) => {
            if (!value) {
                return "-";
            }
            return `<a href="${value.url}" target="_blank">${value.title}</a>`;
        }
    },
    {
        name: 'element',
        title: "Element",
        callback: (value) => {
            if (!value) {
                return null;
            }
            return `<a href="${value.url}" target="_blank">${value.title}</a>`;
        }
    },
    {
        name: 'type',
        title: "Type",
        callback: (value) => {
            if (!value) {
                return null;
            }
            return `<a href="${value.url}" target="_blank">${value.title}</a>`;
        }
    },
];



new Craft.VueAdminTable({
    columns: columns,
    container: '#types-admin-table',
    tableDataEndpoint: tableDataEndpoint,
    deleteAction:deleteAction,
    deleteFailMessage: 'Failed to delete types.',
    deleteSuccessMessage: 'Type deleted.',
    emptyMessage: 'No types exist yet.',
    onQueryParams: function(params) {
        params.type = type;
        return params;
    }
});
{% endjs %}
