{% requireAdmin false %}

{% extends "_layouts/cp" %}
{% set title = ("Image #" ~ image.id) %}

{% set crumbs = [
    { label: "Generated Images"|t('app'), url: cpUrl('image-generator') },
    { label: "Image #" ~ image.id, url: image.getCpUrl() }
] %}

{% block actionButton %}
    <form method="post">
        {{ actionInput('image-generator/image/regenerate') }}
        {{ csrfInput() }}
        {{ redirectInput(craft.app.request.absoluteUrl) }}
        <input type="hidden" name="id" value="{{ image.id }}">
        <button type="submit" class="btn submit">
            <span data-icon="refresh" class=""></span>
            {{ "Regenerate"|t('image-generator') }}
        </button>
    </form>
{% endblock %}



{% set asset = image.getAsset() %}
{% block content %}
    {% if asset %}
        <img src="{{ asset.getUrl() }}" alt="Generated Image">
    {% endif %}
{% endblock %}

{% set element = image.getElement() %}
{% set type = image.getType() %}
{% block details %}
    <fieldset>
        <legend class="h6" >Details</legend>

        <div class="meta">
            <div class="field">
                <div class="heading">Asset</div>
                <div class="input ltr">
                    <a href="{{ asset.getCpEditUrl() }}">{{ asset.filename }}</a>
                </div>
            </div>
            <div class="field">
                <div class="heading">Element</div>
                <div class="input ltr">
                    <a href="{{ element.getCpEditUrl() }}">{{ element.title }}</a>
                </div>
            </div>
            <div class="field">
                <div class="heading">Type</div>
                <div class="input ltr">
                    <a href="{{ type.getCpEditUrl() }}">{{ type.name }}</a>
                </div>
            </div>
            <div class="field">
                <div class="heading">Last Generated</div>
                <div class="input ltr">
                   {{ asset.dateUpdated|datetime }}
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}